.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 200px;
}

.main-section h1 {
    color: hsl(192, 100%, 9%);
    font-weight: 900;
    font-size: 2rem;
}

.main-section .main-p {
    color: hsl(192, 100%, 9%);
    font-weight: 500;
    width: 500px;
}

.btn-main-sec  {
    background-color: hsl(322, 100%, 66%);
    border: none;
    color: white;
    border-radius: 50px;
    padding: 20px 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;

    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.171);
}

.main-section button:hover {
    background-color: hsl(321, 100%, 78%);
}

.communities {
    display: flex;
    gap: 300px;
}

.communitie-formed img, .msg-sent img{
    display: flex;
    width: 40px;
    
}

.communitie-formed h2, .msg-sent h2 {
    font-size: 5em;
    color: hsl(192, 100%, 9%);
}

.communitie-formed p, .msg-sent p {
    font-size: 1.2em;
    color: hsla(192, 100%, 9%, 0.425);
}


@media (max-width: 500px) {

    .main-section .main-p {
        
        width: 350px;
    }

    .image-main-sec img {
        width: 350px;
    }

    .communities {
        flex-direction: column;
        gap: 100px;
    }

}