@media (max-width: 500px) {
    .third-article {
         flex-direction: column-reverse;
         gap: 100px;
 
    }

    .curve-3 {
        background-image: url('../images/bg-section-top-mobile-2.svg');
        
    }

    .curve-4 {
        background-image: url('../images/bg-section-bottom-mobile-2.svg');
    }
}